# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode

#Ignore Intellij configurations
.idea
*.class

sootOutput
./out
*.txt
!HarnessTemplate.txt
*.dot
run_all.sh
jars
jars_unzip
src_results
target
.list
.drawed_dot.txt
venv
workdir
